<template name="roomSubmit">
    <form id="form_submit" class="main" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Room name</label>
                    <input type="text" name="name" id="form_name" class="form-control" value="" placeholder="Room name" autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label for="form_description">Room description</label>
                    <input type="text" name="description" id="form_description" class="form-control" value="" placeholder="Room description" />
                </div>

                <div class="form-group">
                    <label>Tags</label>
                    <ul name="tags"></ul>
                </div>

                <div class="form-group">
                    <label>Guests</label>
                    <ul name="guests"></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Listed</label>
                    <input type="checkbox" name="listed" class="bootstrap-switch" checked="checked" />
                </div>
                <div class="form-group">
                    <label>Public</label>
                    <input type="checkbox" name="public" class="bootstrap-switch" checked="checked" />
                </div>

                <div class="form-group">
                    <label>Access password</label>
                    <input type="password" name="accessPassword" maxlength="6" class="form-control" disabled="disabled" />
                </div>

                <div class="form-group">
                    <label>Scheduled</label>
                    <input type="checkbox" name="scheduled" class="bootstrap-switch" checked="checked" />
                </div>

                <div class="form-group">
                    <label>Scheduled time</label>
                    <div class="input-group" name="scheduledTime">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input type='text' class="form-control" data-date-format="DD/MM/YYYY - HH:mm" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Chat</label>
                    <input type="checkbox" name="chat" class="bootstrap-switch" checked="checked" />
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</template>