<template name="roomForm">
    <form id="form_room" class="main">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Room name</label>
                    <input type="text" name="name" id="form_name" class="form-control" value="{{name}}" placeholder="Room name" autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label for="form_description">Room description</label>
                    <input type="text" name="description" id="form_description" class="form-control" value="{{description}}" placeholder="Room description" />
                </div>

                <div class="form-group">
                    <label>Tags</label>
                    <ul name="tags">
                        {{#each tags}}
                            <li>{{.}}</li>
                        {{/each}}
                    </ul>
                    <div class="popular-tags-container">
                        <span class="help-block">
                            Some popular tags you may be interested in:
                            {{#unless popularTags}}
                                Loading...
                            {{/unless}}
                        </span>
                        {{{popularTags}}}
                    </div>
                </div>


                <div class="form-group">
                    <label>Public</label>
                    <input type="checkbox" name="public" class="bootstrap-switch" />
                </div>
                <div class="form-group">
                    <label>Guests</label>
                    <ul name="guests">
                        {{#each guests}}
                            <li>{{.}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Listed</label>
                    <input type="checkbox" name="listed" class="bootstrap-switch" />
                </div>

                <div class="form-group">
                    <label>Scheduled</label>
                    <input type="checkbox" name="scheduled" class="bootstrap-switch" />
                </div>

                <div class="scheduled-time-controls">
                    <div class="form-group">
                        <label>Scheduled time</label>
                        <div class="input-group" name="scheduledTime">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input type='text' class="form-control" data-date-format="DD/MM/YYYY - HH:mm" />
                        </div>
                        {{#if scheduleSuggestion}}
                            <span class="help-block">
                                {{scheduleSuggestion.message}}
                                {{#if scheduleSuggestion.availabilityData}}
                                    <a class="schedule-suggestion-link" href="#" data-toggle="modal" data-target="#schedule_suggestion_dialog">More information</a>.
                                {{/if}}
                            </span>
                        {{else}}
                            <span class="help-block">
                                Advice: Add some guests to your room to get suggestion for the schedule time.
                            </span>
                        {{/if}}
                    </div>
                </div>

                <div class="form-group">
                    <label>Chat?</label>
                    <input type="checkbox" name="chat" class="bootstrap-switch" />
                </div>
            </div>
        </div>

        <div class="controls">
            <input type="submit" value="{{submitButtonName}}" class="btn btn-primary" /> {{#unless isInsert}}
            <a class="btn btn-danger" id="delete" href="#">Delete room</a> {{/unless}}
        </div>
    </form>

    <div id="schedule_suggestion_dialog" class="schedule-suggestion-dialog modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Schedule suggestions</h4>
                </div>
                <div class="modal-body">
                    <p>This table shows how many guests have availability in the specified time slot. Click in the table cell to set the schedule time for your room.</p>
                    {{{ suggestedAvailabilityTableHTML }}}
                    <ul>
                        <li><span class="bg-success">&nbsp;&nbsp;&nbsp;&nbsp;</span> : All guests have availability.</li>
                        <li><span class="bg-warning">&nbsp;&nbsp;&nbsp;&nbsp;</span> : Some guests have availability.</li>
                        <li><span class="bg-danger">&nbsp;&nbsp;&nbsp;&nbsp;</span> : No guest have availability.</li>
                    </ul>
                    {{{ unregisteredEmailsNote }}}
                </div>
            </div>
        </div>
    </div>
</template>