<template name="roomSubmit">
    <form class="main" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Room name</label>
                    <input type="text" name="name" id="form_name" class="form-control" value="" placeholder="Room name" autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label for="form_description">Room description</label>
                    <input type="text" name="description" id="form_description" class="form-control" value="" placeholder="Room description" />
                </div>

                <div class="form-group">
                    <label>Tags</label>
                    <div name="tags" class="tagging-box"></div>
                </div>

                <div class="form-group">
                    <label>Guests</label>
                    <div name="guests" class="tagging-box"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Public</label>
                    <input type="checkbox" name="privacy" class="bootstrap-switch" />
                </div>

                <div class="form-group">
                    <label>Access PIN</label>
                    <input type="password" name="accessPin" maxlength="6" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Scheduled</label>
                    <input type="checkbox" name="scheduled" class="bootstrap-switch" />
                </div>

                <div class="form-group">
                    <label>Scheduling time</label>
                    <div class="input-group">
                        <input type="text" name="schedulingTime" class="form-control datetimepicker" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Chat?</label>
                    <input type="checkbox" name="chat" class="bootstrap-switch" checked="checked" />
                </div>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</template>
