<template name="roomItem">
    <div class="room">
        <div class="room-content">
            <h3><a href="{{url}}">{{name}}</a></h3>
            {{#each tags}}
                <span class="label label-success" >{{this}}</span>
            {{/each}}
            <p>
                presenter {{creator}}
                {{#if ownRoom}}
                    <a href="{{pathFor 'roomEdit'}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="btn btn-default btn-xs delete-room-button"><span class="glyphicon glyphicon-trash"></span></a>
                {{/if}}
                <a href="{{calendarURL}}" target="_blank" class="btn btn-default btn-xs calendar"><span class="glyphicon glyphicon-calendar"></span></a>

            </p>
        </div>
        <a href="{{pathFor 'roomPage'}}" class="discuss btn btn-primary">Join</a>
    </div>
</template>