<template name="roomPage">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">
            {{#if ownRoom}}
            <label for="chat">Chat?</label>
            <input type="checkbox" id="chat_switch" class="bootstrap-switch" checked="{{chat}}" /> {{/if}} {{#if chat}} {{> roomChat}} {{/if}}

            <div class="videoContainer">
                <video id="localVideo" oncontextmenu="return false;"></video>
                <div id="localVolume" class="volumeBar"></div>
            </div>

            <div id="remotes" class="child panel panel-default">

            </div>
        </div>
    </div>
</template>