<template name="roomChat">
    <!-- /.panel -->
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-comment"></i>
            Chat
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
                {{#each messages}}
                    {{> chatMsgMe}}
                {{/each}}
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <form>
                <div class="input-group">
                    <input id="chat-message" type="text" class="form-control input-sm" placeholder="Send a message ..." />
                    <span class="input-group-btn">
                        <input type="submit" value="Send" class="btn btn-primary btn-sm"/>
                    </span>
                </div>
            </form>

        </div>
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel .chat-panel -->
</template>

<template name="chatMsgMe">
    {{#if user "me"}}
        <li class="right clearfix">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="pull-right primary-font">{{user}}</strong>
                </div>
                <p>{{message}}</p>
            </div>
        </li>
    {{else}}
        <li class="left clearfix">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="pull-right primary-font">{{user}}</strong>
                </div>
                <p>{{message}}</p>
            </div>
        </li>
    {{/if}}
</template>
