body {
    background: #eee;
    color: #666666;
}

#invites .tag {
    background: none repeat scroll 0 0 #428bca;
    span {
        background: none repeat scroll 0 0 #2674B9;
    }
}

.grid-block, .main, .room, .comments li, .comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar {
    margin-bottom: 10px;
    .navbar-inner {
        border-radius: 0px 0px 3px 3px;
    }
}

#spinner {
    height: 300px;
}

.room {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.label {
    font-size: 70%;
}

.room {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &.invisible {
        opacity: 0;
    }
    &.instant {
        transition: none;
    }
    &.animate {
        transition: all 300ms 0ms ease-in;
    }
    .upvote {
        display: block;
        margin: 7px 12px 0 0;
        float: left;
    }
    .room-content {
        float: left;
        h3 {
            margin: 0;
            line-height: 1.4;
            font-size: 18px;
            display: inline;
            a {
                display: inline-block;
                margin-right: 5px;
            }
            span {
                font-weight: normal;
                font-size: 14px;
                display: inline-block;
                color: #aaaaaa;
            }
        }
        p {
            margin: 0;
        }
    }
    .discuss {
        display: block;
        float: right;
        margin-top: 7px;
    }
}

.comments {
    list-style-type: none;
    margin: 0;
    li {
        h4 {
            font-size: 16px;
            margin: 0;
            .date {
                font-size: 12px;
                font-weight: normal;
            }
            a {
                font-size: 12px;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.1);
    }
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #999;
        &.left .chat-body {
            margin-left: 5px;
        }
        &.right .chat-body {
            margin-right: 5px;
        }
        .chat-body p {
            margin: 0;
        }
    }
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.chat-panel {
    .panel-body {
        height: 350px;
        overflow-y: scroll;
    }
    &.panel.panel-default {
        float: right;
        width: 300px;
    }
}

.panel-body {
    position: relative;
}

.child {
    position: absolute;
    bottom: 0;
}

.videoContainer, video {
    width: 150px;
    height: 150px;
}

div.inline {
    float: left;
}

#search_form {
    width: 50%;
    margin: 30px auto 30px;
    input {
        border-radius: 20px;
        height: 48px;
        font-size: 21px;
        padding-left: 22px;
        box-shadow: 0px 0px 15px lightgray;
    }
}

.rooms-empty-container {
    font-size: 24px;
    text-align: center;
    margin-top: 70px;
}

.volumeBar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #12acef;
}