<template name="userProfileInfo">
        <!-- edit form column -->
    <form id="profile_extra" role="form">
        <div class="row">
            <div class="col-md-6 personal-info">
                <h3>Personal info</h3>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input class="form-control" name="username" value="{{username}}" type="text" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" name="emails" value="{{#each emails}} {{address}} {{/each}}" type="text" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" name="fullname" value="{{profile.fullname}}" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Location</label>
                    <input class="form-control" name="location" value="{{profile.location}}" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Time Zone</label>
                    <div class="ui-select">
                        {{> timezonePicker class="form-control" selected=timezone}}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
            <!-- right column -->
            <div class="col-md-6">
                <h3>Extra info</h3>
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <input class="form-control" name="company" value="{{profile.company}}" type="text">
                </div>
                <div class="form-group">
                    <label>Skills</label>
                    <ul name="skills">
                      {{#each profile.skills}}
                          <li>{{.}}</li>
                      {{/each}}
                    </ul>
                </div>
                <div class="form-group">
                    <label>Interests</label>
                    <ul name="interests">
                      {{#each profile.interests}}
                          <li>{{.}}</li>
                      {{/each}}
                    </ul>
                </div>
                <div class="form-group">
                    <label for="about-text" class="control-label">About</label>
                    <textarea class="form-control" rows="3" name="about" value="{{profile.about}}" id="about-text"></textarea>
                </div>
            </div>
        </div>
    </form>
</template>